DJANGO_SECRET_KEY = django-insecure-xxxxxxxxxxxxxxxxxxxxxxxxxxxx # YOUR DJANGO PROJECT KEY
DEBUG = True 

DB_NAME = db-name # YOUR DB NAME
DB_USER = postgres # YOUR DB USER
DB_PASSWORD = password # YOUR DB PASSWORD
DB_HOST = localhost # YOUR DB HOST
DB_PORT = 5432 # YOUR DB PORT

# SANDBOX PAYU ENVIRONMENTS YOU CAN USE
PAYU_POS_ID = 300746
PAYU_SECOND_KEY = b6ca15b0d1020e8094d9b5f8d163db54
PAYU_CLIENT_ID = 300746
PAYU_CLIENT_SECRET = 2ee86a66e5d97e3fadc400c9f19b065d
PAYU_SANDBOX_URL = https://secure.snd.payu.com