{% extends "store/base.html" %}
{% block title %}Link wysłany{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="bg-white p-4 rounded-3 shadow text-center" style="max-width: 400px; width: 100%;">
        <h4 class="mb-3">The link to change your password has been sent</h4>
        <p>If the email address you provided is associated with an account, you will receive an email with instructions on how to change your password.</p>

        <a href="{% url 'account_login' %}" class="btn btn-dark mt-3 rounded-pill px-4 py-2">
            Back to sign in page
        </a>
    </div>
</div>
{% endblock %}
