{% extends "store/base.html" %}
{% block title %}Password changed{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="bg-white p-4 rounded-3 shadow text-center" style="max-width: 400px; width: 100%;">
        <h4 class="mb-3">Password changed</h4>
        <p>You can now log in with your new password</p>

        <a href="{% url 'account_login' %}" class="btn btn-dark mt-3 rounded-pill px-4 py-2">
            Go to sign in page
        </a>
    </div>
</div>
{% endblock %}
